{% extends "base.html" %}

{% block title %} Online chess and checkers {% endblock %}

{% block styles %}
<!-- Link online stylesheet-->
 <link rel="stylesheet" href="{{ url_for('static', filename=css/online.css)}}" />
 {% endblock %}


 {% block content %}

 <!-- Online lobby interface --->
  <div class="online ">
    <h1>Online Lobby</h1>
    <div class="lobby">
        <div class="Lobby section">
            <h2>Lobby </h2>
            <p> Welcome to the online lobby. Here you can join or create a game.</p>
            <div class="button">
                
                


            </div>



        </div>
    </div>